*{
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
    display: block;
    margin: 1rem 0;
    font-size: 1.3rem;
}
body{
    background-color: ghostwhite;
}
.take{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    background-color: #1d2b29;
    text-align: center;
    padding: 5rem;
    color: #e9e9e9;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px black;
}
.take button{
    padding: 0.5rem 4rem;
    display: block;
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translate(-50%);
    background-color: #5cbbad;
    color: white;
    text-shadow: 0 1px 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px black;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
}
.take button:hover{
    background-color: #217467;
}
input[type="text"]{
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    color: #e9e9e9;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #e9e9e9;
}
.output{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    visibility: hidden;
}
th,td{
    border: 1px solid black;
    padding: 0.3rem 5rem;
    height: 2rem;
    background-color: white;
}
th{
    background-color: yellow;
}
#close{
    position: absolute;
    top: -2rem;
    right: -2rem;
    padding: 0.5rem 1.2rem;
    font-size: 2rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px black;
    cursor: pointer;
}
#close:hover{
    background-color: rgb(207, 57, 57);
}
